### Dependencies
## Composer
/vendor/

### IDE
## JetBrains
/.idea/

## VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# Local History for Visual Studio Code
.history/

### Binary Artefacts
## Translation Files
*.mo
