form#rotaract-club-search {
	display: flex;
}
form#rotaract-club-search>* {
	display: block;
}
form#rotaract-club-search select {
	position: relative;
	margin-right: 1rem;
	background: #fff;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: solid 1px #666;
	padding: 0 1rem;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
}
form#rotaract-club-search select::after {
	content: '&#9660;';
	position: absolute;
	right: 5px;
	top: 50%;
	transition: translate(-50%);
}
form#rotaract-club-search button {
	padding: 0 1rem;
	background: #d91b5c;
	color: #fff;
	border: solid 1px #c10042;
	border-radius: 3px;
	cursor: pointer;
}
form#rotaract-club-search button:hover {
	background: #c10042;
}
div#map {
	height: 50vh;
	min-height: 320px;
	max-height: 480px;
	margin: 1rem 0;
}
.club-finder-list-line {
    display: flex;
}
.club-finder-list-line:nth-child(odd) {
	background: #f8f8f8;
}
.club-finder-list-name {
    flex-grow: 1;
    padding: 0.5rem 0.75rem;
}
.club-finder-list-name .district {
	font-size: 0.85em;
	color: #666;
}
.club-finder-list-link {
    padding: 0.5rem 0.75rem;
    align-self: center;
}
.club-finder-list-link a {
    display: block;
    padding: 0.375rem 0.75rem;
    background: #d91b5c;
    color: #fff;
    font-size: 0.9em;
    border-radius: 4px;
    border: solid 1px #c10042;
    white-space: nowrap;
}
.club-finder-list-link a:hover {
    background: #c10042;
}
