name: Build Plugin ZIP

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      php-version: latest
      extensions: imagick
      key: rotaract-club-finder #  an be any string, change to clear the extension cache.
    steps:
    - uses: actions/checkout@v6

    - name: Setup cache environment
      id: extcache
      uses: shivammathur/cache-extensions@v1
      with:
        php-version: ${{ env.php-version }}
        extensions: ${{ env.extensions }}
        key: ${{ env.key }}

    - name: Cache extensions
      uses: actions/cache@v5
      with:
        path: ${{ steps.extcache.outputs.dir }}
        key: ${{ steps.extcache.outputs.key }}
        restore-keys: ${{ steps.extcache.outputs.key }}

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ env.php-version }}
        extensions: ${{ env.extensions }}

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Cleanup composer development packages and optimize autoloader
      run: composer install --no-dev --no-interaction --no-progress --optimize-autoloader --classmap-authoritative

    - name: Upload Plugin
      uses: actions/upload-artifact@v6
      with:
        name: rotaract-club-finder
        path: |
          ./*
          !tmp
          !.*
          !phpcs.xml
          !composer.lock
          !composer.json
